<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
   
    
  </head>
  <body>
    <div class="wrapper">
      <input type="checkbox" id="btn" hidden>
      <label for="btn" class="menu-btn">
        <i class="fas fa-bars"></i>
        <i class="fas fa-times"></i>
      </label>
      <nav id="sidebar">
        <div class="title">Menu</div>
        <ul class="list-items">
          <li><a href="/manage/dashboard">Dashboard</a></li>
          <li><a href="/manage/teachers">Teachers</a></li>
          <li><a href="/manage/students">Students</a></li>
          <li><a href="/manage/settings">Settings</a></li>
          <li><a href="/manage/logout">Logout</a></li>
        </ul>
      </nav>
    </div>
    <div class="main">
      
    </div>
  </body>
</html>

